.jumbotron {
    color: white;
}

.display-4 {
    font-family: 'Special Elite', cursive;
}

p {
    font-family: 'Special Elite', cursive;
}

label {
    color: white;
    text-shadow: 6px 6px 15px #652e31;
}

input {
    box-shadow: 2px 2px 10px #234040;
}

.table {
    box-shadow: 2px 5px 20px #234040;
}


.card-header {
    color: white;
}


td {
    background-color: white;
    opacity: 0.75;
    color: #652e31;
    font-weight: bolder;
}

#submit {
    background-color: #234040;
    color: #b2925f;
    outline-width: 4px;
    outline-color: #b2925f;
    box-shadow: 2px 5px 20px grey;
}

#submit:hover {
    background-color: #652e31;
}